# Basic Config
ENV=dev
DEBUG=on

# Time & Language
LANGUAGE_CODE=en-us
TIMEZONE=UTC
USE_I18N=on
USE_L10N=on

# Emails
DEFAULT_FROM_EMAIL=no-reply@example.com
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend

# Security and Users
SECRET_KEY=123
ALLOWED_HOSTS="*"
LOGIN_URL=/login/
LOGIN_REDIRECT_URL=/

# Databases
DATABASE_URL=postgres://localhost:5432/django_db

# Static & Media Files
STATIC_URL=/static/
MEDIA_URL=/media/
USE_S3_STATIC_STORAGE=off
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_ENDPOINT_URL=

# Celery
CELERY_BROKER_URL=redis://cache
CELERY_TASK_ALWAYS_EAGER=off

# Sentry
USE_SENTRY=off
SENTRY_DSN=

# Other apps
USE_DEBUG_TOOLBAR=on
USE_DJANGO_EXTENSIONS=on
