# Python bytecode
__pycache__

# Django dynamic directories
logs
media

# Database files
.sqlite3

# Environment variables
.env
.env.*

# Static files
assets/node_modules
assets/bundles/webpack-bundle.dev.json
assets/bundles/dev

# IDE config
.vscode
