[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
server = "python manage.py runserver"
tests = "pytest"
celery = "pipenv run python manage.py celery_autoreload"
migrate = "python manage.py migrate"
makemigrations = "python manage.py makemigrations"
shell = "python manage.py shell"

[dev-packages]
flake8 = "*"
django-debug-toolbar = "*"
isort = "*"
pytest = "*"
pytest-django = "*"
redis = "*"

[packages]
django = "==2.2.*"
django-environ = "*"
psycopg2-binary = "*"
django-webpack-loader = "*"
django-extensions = "*"
celery = "*"
django-registration-redux = "*"
sentry-sdk = "*"

[requires]
python_version = "3.7.2"
