{% extends 'base.html' %}

{% block page_title %}You are ready to go!{% endblock %}
{% block page_description %}And please DRY{% endblock %}

{% block body %}
  <h2>You are ready to go!</h1>
  <p>Please if you see anything that can be improved about this project please report it at <a href="https://github.com/fceruti/django-starter-project">django-starter-project</a>.</p>
  <h3>Useful links</h3>
  <ul>
    <li><a href="{% url 'login' %}">Log in</a></li>
    <li><a href="{% url 'admin:index' %}">Admin</a></li>
  </ul>
{% endblock %}
