{% extends 'base.html' %}

{% block page_title %}Do great things!{% endblock %}
{% block page_description %}And please DRY{% endblock %}

{% block body %}
  <h1>Do great things!</h1>
  <p>Hopefully creating this starter project will save me a lot of time in the future. I'm really tired of all this initial project setup.</p>
  <p>This is for you <a href="https://imgur.com/gallery/Fv62x/comment/1254572409">future self</a>.</p>

  <h3>Useful links</h3>
  <ul>
    <li><a href="{% url 'login' %}">Log in</a></li>
    <li><a href="{% url 'registration_register' %}">Register</a></li>
    <li><a href="{% url 'admin:index' %}">Admin</a></li>
  </ul>
{% endblock %}
